<table class="gh-repos table table-striped table-bordered table-hover">
  <thead>
      <tr>
          <th>Name</th>
          <th>Website</th>
          <th>Description</th>
          <th>Size</th>
      </tr>
  </thead>
  <tbody>
    {{ $url := .Get "url" }}
    {{ range getJSON $url }}
    {{ $p := . }}
    {{ if not $p.archived }}
    <tr>
        <td><strong>{{ $p.name }}</strong></td>
        <td><a href="{{ $p.html_url }}" target="_blank">{{ $p.full_name }}</a></td>
        <td>{{ $p.description }}</td>
        <td>Size: {{$p.size}} Bytes</td>
    </tr>
    {{ end }}
    {{ end }}
  </tbody>
</table>
