name: repository dispatch

on:
  repository_dispatch:
    types: [wxt-tagged]

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Display the payload
        run: echo ${{ github.event.client_payload.sha }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.108.0'
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - run: npm install

      - name: Build
        run: hugo --theme=docsy --environment production --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
